In [50]:
#Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.


def is_symmetrical(n):
    l=[]
    l1=[]
    for i in str(n):
        l.append(i)
        l1.append(i)
    l.reverse()
    if l1==l:
        return True
    else:
        return False
        
    
is_symmetrical(787)

True

In [58]:
#Given a string of numbers separated by a comma and space, return the product of the numbers.

def gen_product(n):

    p=1
    for i in n:
        if i in [' ',',']:
            pass
        else:
            i=int(i)
            p=p*i
            
    return p

gen_product("2, 3")
gen_product("1, 2, 3, 4")

24

In [68]:
#Create a function that squares every digit of a number.


def square_creater(n):
    n=str(n)
    s=[]
    for i in n:
        i=int(i)
        
        s.append(str(i*i))
    
    square="".join(s)
    return square
        
    

square_creater(2483)

'416649'

In [75]:
#Create a function that sorts a list and removes all duplicate items from it.

def list_checker(l):
    s=set(l)
    l1=list(s)
    l1.sort()
    return l1
            
list_checker([1, 3, 3, 5, 5])
list_checker([3, 3, 3, 2, 1])

[1, 2, 3]

In [86]:
#Create a function that returns the mean of all digits.

def mean(n):
    n=str(n)
    c=0
    a=0
    for i in n:
        c=c+1
        i=int(i)
        a=a+i
    m=a/c
    
    return int(m)

mean(512)  
mean(666)

6